<!DOCTYPE html>
<html lang="en-US">
  
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="discrption" content="BAP - Play with your code, not your bot.">
    <meta name="keyword" content="laravel developer, bagas adji pratama, BAP, bagas adji, web developing, web developer, Web Freelancer, Project Web">

    <title><%= title %></title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700" rel="stylesheet">

    <!-- custom styles (optional) -->
    <link href="/assets/css/plugins.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
  </head>

  <body>
    <%- include('./layouts/header') %>
    
    <div id="bodyContainer">
      <%- include('./pages/' + page) %>
    </div>

    <%- include('./layouts/footer') %>
    <script src="/assets/my-pages/<%= page %>.js"></script>
    
  </body>
  </html>